@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
}

* {
	box-sizing: border-box;
}

body {
	background-color: #0F1C1F;
	background-image: url('../img/background.jpg');
	background-size: cover;

	color: #F6FDFE;

	font-family: 'OpenSans-Light';

	margin: 0;
	padding: 0;
	padding-top: 1.5em;

	min-height: 100%;
}

/**
 * Top Bar
 */
#window-bar {
	background: #142529;
	
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	padding-bottom: 5px;
    border-bottom: 1px outset #5BCDE9;
}
#window-title {
	display: block;
	-webkit-app-region: drag;

	width: calc(100% - 3.5em);

	padding: 0.2em 0.8em;

	font-size: 0.9em;
}
#window-close-button {
	display: block;

	position: fixed;
	top: 0;
	right: 0;

	width: 3.5em;
    padding: 0.7em 0.2em 0.6em 0.2em;

	text-align: center;

	font-size: 0.7em;

	z-index: 2;

	cursor: pointer;

	background: #142529;
}
#window-close-button:hover {
	background: #E74C3C;
}

/**
 * Modules
 */
.main {
	display: flex;
	flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.module {
	flex: calc(25% - 32px);
	max-width: calc(25% - 32px);

	margin: 24px 16px;
	padding: 16px;
	background: hsl(191 34% 12% / 0.90);

	border-radius: 5px;

	border: 1px solid #036881;
}

@media (max-width: 1150px) {
	.module {
		flex: calc(50% - 32px);
		max-width: calc(50% - 32px);
	}
}

@media (max-width: 600px) {
	.module {
		flex: calc(100% - 32px);
		max-width: calc(100% - 32px);
	}
}

.module-title {
	color: #2EB9DC;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	margin-top: 0;
}