@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.ttf');
}

* {
	box-sizing: border-box;
}

html {
	background: black;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
    background-color: #2234ae;
    background-image: linear-gradient(315deg, #2234ae 0%, #1d2254 74%);

	height: 100vh;

	color: #EEEEEE;
	font-family: 'OpenSans-Light';
}

/**
 * Home - modules system
 */
.main {
	position: relative;
	width: calc(100% - 75px);
}

.module {
	position: absolute;
	background: rgb(0,0,0,0.2);
	padding: 0.5em 1em;
	border-radius: 5px;
	min-height: 1em; 
}

@media (min-width: 1900px) {
	.module {
		width: calc(25% - 34px);
	}
}

@media (min-width: 1400px) and (max-width: 1899px) {
	.module {
		width: calc(33% - 34px);
	}
}

@media (max-width: 1399px) {
	.module {
		width: calc(50% - 34px);
	}
}

.module-title {
	text-align: center;
}

/**
 * Sidebar
 */
.sidebar {
	position: fixed;
	top: 50%;
	right: 0;

	padding: 50vh 0;

	transform: translate(0, -50%);

	width: 50px;

	z-index: 1000;

	-webkit-app-region: drag;
}
.sidebar img {
	display: block;
	margin: 5px;
	max-width: 100%;

	-webkit-app-region: no-drag;
}

/**
 * Modules
 */
#modules-list {
	padding: 0.5rem;
}
#modules-list h1 {
	text-align: center;
}
#modules-list .modules-list-element {
	display: inline-block;
	padding: 1rem;
	width: 25%;
}
#modules-list .modules-list-element input[type="button"] {
	margin-left: 0.5rem;
}
#modules-list h2 {
	padding-top: 0;
}

/**
 * Settings
 */
#settings-list {
    overflow: auto;
    max-height: 100vh;
	padding: 1.5rem;
}
#settings-list h1 {
	text-align: center;
}
#settings-list label {
    width: 120px;
    display: inline-block;
    padding-left: 1rem;
    vertical-align: top;
}
#settings-list input[type="text"] {
	display: inline-block;
	padding-right: 5rem;
}
#settings-list input[type="button"] {
	display: block;
	margin-top: 1rem;
}
#settings-list textarea {
	width: 75vw;
}